@charset "utf-8";
/* CSS Document */
#back_to_top {
    z-index: 3;
    position: fixed;
    display: none;
    width: 48px;
    height: 48px;
    right: 40px;
    bottom: 100px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 24px;
    box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.rocket {
    margin: 8px auto;
    display: block;
    opacity: 0.9;
}
#back_to_top:hover {
    background: rgba(255, 255, 255, 0.9);
}
#back_to_top:hover .rocket path {
    fill: rgba(102, 147, 243, 1);
}
