@charset "utf-8";
/* CSS Document */
#footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 46px;
    width: 100%;
    background-color: #222;
    box-shadow: 0 -1px 2px #111;
}
#footer h2 {
    color: #EEEEEE;
    font-size: 14px;
    font-weight: normal;
    width: 200px;
    left: 50%;
    margin: 16px 0 0 -380px;
    position: absolute;
}
#footer h2 i {
    font-style:normal;
    color:#888;
}
#footer>a, #footer>a:visited {
    color: #999999;
    font-size: 12px;
    left: 50%;
    margin: 16px 0 0 110px;
    position: absolute;
    text-decoration: none;
    top: 0;
}
#footer a i {
    color: whitesmoke;
    font-style: normal;
}
#footer a i b {
    color: firebrick;
    font-weight: normal;
}
