@charset "utf-8";
/* CSS Document */

.gears {
    position: relative;
    left: 52px;
    top: -16px;
    width: 430px;
    height: 280px;
}

.gear {
    position: absolute;
}

.gear img {
    width: 100%;
    height: auto;
}

.gear-r {
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 0;
}

.gear-l {
    width: 110px;
    height: 110px;
    right: 314px;
    bottom: 129px;
}

.gear-r, .gear-l {
    -webkit-animation: gear-clockwise-anim 10s linear 0s infinite normal;
    -moz-animation: gear-clockwise-anim 10s linear 0s infinite normal;
    -ms-animation: gear-clockwise-anim 10s linear 0s infinite normal;
    -o-animation: gear-clockwise-anim 10s linear 0s infinite normal;
    animation: gear-clockwise-anim 10s linear 0s infinite normal;
}

.gear-t {
    width: 150px;
    height: 150px;
    right: 167px;
    bottom: 122px;
    -webkit-animation: gear-anticlockwise-anim 10s linear 0s infinite normal;
    -moz-animation: gear-anticlockwise-anim 10s linear 0s infinite normal;
    -ms-animation: gear-anticlockwise-anim 10s linear 0s infinite normal;
    -o-animation: gear-anticlockwise-anim 10s linear 0s infinite normal;
    animation: gear-anticlockwise-anim 10s linear 0s infinite normal;
}


@-webkit-keyframes gear-clockwise-anim {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes gear-anticlockwise-anim {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes gear-clockwise-anim {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@-moz-keyframes gear-anticlockwise-anim {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(-360deg);}
}
@-ms-keyframes gear-clockwise-anim {
    from {-ms-transform: rotate(0deg);}
    to {-ms-transform: rotate(360deg);}
}
@-ms-keyframes gear-anticlockwise-anim {
    from {-ms-transform: rotate(0deg);}
    to {-ms-transform: rotate(-360deg);}
}
@-o-keyframes gear-clockwise-anim {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(360deg);}
}
@-o-keyframes gear-anticlockwise-anim {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(-360deg);}
}
@keyframes gear-clockwise-anim {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes gear-anticlockwise-anim {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
