@charset "utf-8";
/* CSS Document */

/*---------------------*/
.sidebar_fixed {
    position: fixed !important;
    top: 0 !important;
}
.sidebar_fixed:before {
    display: none;
}
.sidebar_fixed header{
    padding-top: 14px !important;
}
/*---------------------*/

.sidebar {
    position: absolute;
    top: 114px;
    display: block;
    float: left;
    width: 160px;
    left: 100px;
    background-color: #fff;
    box-shadow: 1px -3px 9px -6px #222;
    z-index: 333;
    line-height: 1.6;
    font: 14px/1.5 "Microsoft Yahei";
}
.sidebar:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 45px solid #fff;
    border-right: 160px dashed transparent;
}
.sidebar:before {
    position: absolute;
    content: "";
    left: -6px;
    border: 3px solid #5D70AD;
    border-left-color: transparent;
    border-top-color: transparent;
}
.sidebar header {
    padding-top: 20px;
    display: block;
    text-align: center;
    background-color: #51A7E0;
}
.logo {
    width: 112px;
    height: 112px;
    border: 5px solid #fff;
    border-radius: 50%;
    vertical-align: middle;
    -webkit-box-shadow: 0px 0px 6px rgba(131, 131, 131, 0.92);
    -moz-box-shadow: 0px 0px 6px rgba(131, 131, 131, 0.92);
    -ms-box-shadow: 0px 0px 6px rgba(131, 131, 131, 0.92);
    -o-box-shadow: 0px 0px 6px rgba(131, 131, 131, 0.92);
    box-shadow: 0px 0px 6px rgba(131, 131, 131, 0.92);
    -ms-interpolation-mode: bicubic; /*解决IE7缩放图片的失真*/

    -webkit-transition: -webkit-transform 2s;
    -ms-transition: -ms-transform 2s;
    transition: transform 2s;
}
.logo:hover {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
.slogan {
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}
.quick_nav {
    list-style: none outside none;
    margin: 5px 0;
    padding: 0;
    text-transform: capitalize;
}
.quick_nav a {
    text-decoration: none;
    color: #51A7E0;
    display: block;
    line-height: 28px;
    padding-left: 10px;

    -webkit-transition: padding-left .6s;
    -ms-transition: padding-left .6s;
    transition: padding-left .6s;
}
.quick_nav a:hover {
    background-color: #51A7E0;
    color: #fff;
    padding-left: 20px;
    text-shadow: 0 0 5px #6F6F6F;
}
