@charset "utf-8";
/* CSS Document */
.greybox {
    display: table;
    width: auto;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 6;
}
.greybox:before ,.greybox:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.greybox:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eef0f3;
    -webkit-transform: skewx(-3deg);
    -ms-transform: skewx(-3deg);
    transform: skewx(-3deg);
}
.greybox:after {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: 1px dashed rgba(0,0,0,0.1);
}
