@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    overflow: hidden;
}
body {
    background-color: #222;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
    background-repeat: repeat;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    color: #222;
}
h1, h2 {
    font-size: 24px;
}

.meny {
    display: none;
    padding: 20px;
    overflow: auto;
    /*background: #333;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
    background: -moz-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
    background: -ms-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
    background: -o-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
    color: #eee;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/**************DZ添加式样:导航菜单栏*****************/
.navbox {
    position: relative;
    float: left;
}
ul.nav {
    list-style: none;
    display: block;
    width: 200px;
    position: relative;
    top: 10px;
    left: 10px;
    padding: 60px 0 60px 0;
    background: url('../image/shad2.png') no-repeat;
    -webkit-background-size: 50% 100%;
       -moz-background-size: 50% 100%;
        -ms-background-size: 50% 100%;
         -o-background-size: 50% 100%;
            background-size: 50% 100%;
}
li {
    margin: 5px 0 0 0;
}
ul.nav li a {
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
    background: #cbcbcb url('../image/border.png') no-repeat;
    color: #174867;
    padding: 7px 15px 7px 15px;
    -webkit-border-top-right-radius: 10px;
       -moz-border-top-right-radius: 10px;
        -ms-border-top-right-radius: 10px;
         -o-border-top-right-radius: 10px;
            border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
       -moz-border-bottom-right-radius: 10px;
        -ms-border-bottom-right-radius: 10px;
         -o-border-bottom-right-radius: 10px;
            border-bottom-right-radius: 10px;
    width: 130px;
    display: block;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 4px #888;
       -moz-box-shadow: 2px 2px 4px #888;
        -ms-box-shadow: 2px 2px 4px #888;
         -o-box-shadow: 2px 2px 4px #888;
            box-shadow: 2px 2px 4px #888;
}
ul.nav li a:hover {
    color: #67a5cd;
    background: #ebebeb url('../image/border.png') no-repeat;
    padding: 7px 15px 7px 30px;
}
/******************GnohiSiaM**********************/


/**
 * Hint graphic that appears while menu is inactive
 */
.meny-arrow {
    position: absolute;
    z-index: 10;
    border: 10px solid transparent;
    -webkit-transition: opacity 0.4s ease 0.4s;
       -moz-transition: opacity 0.4s ease 0.4s;
        -ms-transition: opacity 0.4s ease 0.4s;
         -o-transition: opacity 0.4s ease 0.4s;
            transition: opacity 0.4s ease 0.4s;
}
.meny-left .meny-arrow {
    left: 7px;
    top: 50%;
    margin-top: -16px;
    border-left: 16px solid #333;
}
.meny-right .meny-arrow {
    right: 7px;
    top: 50%;
    margin-top: -16px;
    border-right: 16px solid #333;
}
.meny-top .meny-arrow {
    left: 50%;
    top: 7px;
    margin-left: -16px;
    border-top: 16px solid #333;
}
.meny-bottom .meny-arrow {
    left: 50%;
    bottom: 7px;
    margin-left: -16px;
    border-bottom: 16px solid #333;
}
.meny-active .meny-arrow {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
       -moz-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
         -o-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;
}

/**
 * Main contents area
 */
.contents {
    background: #eee;
/*    padding: 20px 40px; */
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.contents>article {
    max-width: 400px;
}
.contents p {
    margin: 10px 0 10px 0;
    font-size: 16px;
    line-height: 1.32;
}
.contents small {
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    color: #333;
    font-size: 0.85em;
    border-top: 1px dashed #ccc;
    -webkit-text-size-adjust: none;
}
.contents .sharing {
    position: absolute;
    bottom: 20px;
}

/**************DZ添加式样:iframe*****************/
iframe {
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
}
/******************GnohiSiaM**********************/
