<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResponseTextServlet</servlet-name>
    <servlet-class>com.gnohisiam.demo.ResponseTextServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResponseXMLServlet</servlet-name>
    <servlet-class>com.gnohisiam.demo.ResponseXMLServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>com.gnohisiam.demo.JsonServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ResponseTextServlet</servlet-name>
    <url-pattern>/ResponseTextServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseXMLServlet</servlet-name>
    <url-pattern>/ResponseXMLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/JsonServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
