@charset "utf-8";
/* CSS Document */
#banner {
    position: relative;
    margin: 60px auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 12px #303030;
    font-family: Microsoft Yahei;
}
#process {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
}
#switch_image img {
    /*cursor: default;*/
    border-radius: 6px;
    box-shadow: 0 0 5px #323232;
}
#banner, #switch_image img {
    width: 800px;
    height: 450px;
}
#switch_index, #switch_image {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#switch_image li {
    position: absolute;
    display: none;
}
#switch_image li:first-child {
    display: list-item;
}
#switch_image span {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    padding: 12px 200px 0px 25px;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #eee;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    background: #222;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
}
#switch_index {
    position: absolute;
    bottom: 12px;
    right: 5px;
    color: #222;
    font-weight: bold;
    font-size: 13px;
}
#switch_index li {
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin-right: 8px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 2px #222;
    border-radius: 16%;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.previous, .next {
    cursor: pointer;
    position: absolute;
    display: none;
    top: 40%;
    padding: 6px;
    font-size: 60px;
    background: #eee;
    color: #222;
    border-radius: 6px;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.previous {
    left: 15px;
}
.next {
    right: 15px;
}
#banner .active, #switch_index li:hover, .previous:hover, .next:hover {
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=90);
}
#switch_index li:active {
    border-radius: 50% !important;
}
.previous:active, .next:active {
    box-shadow: inset 0 0 23px #222;
}
